html {
  overflow-y: scroll;
  /* height: calc(100% + 1px); */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.container {
  max-width: 1140px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-bottom: 0px;
}

.place-center {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 10;
}

.order-summary__right .badge {
  cursor: pointer;
}

.order-summary__right .badge.empty {
  background-color: #ccc !important;
}

.modal {
  max-height: 90%;
  overflow-y: visible;
}

.modal .modal-content {
  overflow-y: scroll;
  max-height: 80vh;
}

.modal-title {
  margin-bottom: 50px;
}

.modal__no-footer .modal-footer {
  height: 0;
  padding: 0;
}

.collumn-longtext {
  padding: 10px;
  max-width: 100px;
  overflow: hidden;
}
.collumn-longtext:hover {
  overflow: visible;
  overflow-wrap: break-word;
}

.collumn-thumbnail {
  height: 70px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.collumn-thumbnail img {
  width: 60px;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

table thead th {
  position: sticky;
  top: 64px;
  background-color: #eee;
  z-index: 9;
}

table thead th[data-sort] {
  cursor: pointer;
}

table thead th[data-active="true"] {
  color: #f44336;
}

table thead th[data-sort-order]:after {
  position: absolute;
  font-family: "Material Icons";
  margin-left: 5px;
}

table thead th[data-sort-order="asc"]:after {
  content: "arrow_downward";
}

table thead th[data-sort-order="desc"]:after {
  content: "arrow_upward";
}

.modal-trigger {
  cursor: pointer;
}

.btn-fixed {
  position: fixed;
  top: 100px;
  right: 100px;
  z-index: 997;
}

.order-summary__wrapper {
  height: 50px;
}

.order-summary {
  padding: 0 15px;
  position: fixed;
  height: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  display: flex;
  margin: 0;
  align-items: center;
  z-index: 99;
  border-top: 1px solid #eee;
  justify-content: space-between;
}

.order-summary__left,
.order-summary__right {
  margin: 0;
  display: flex;
  /* width: 50%; */
}

.order-summary__left li:not(:last-child),
.order-summary__right li:not(:last-child) {
  margin-right: 30px;
}

.order-form__customer {
  border-radius: 5px;
  padding: 15px;
  background-color: #f5f5f5;
}

.chart--dashboard {
  background-color: #f1f1f1;
  height: 100%;
  padding: 30px 0;
  min-height: 101vh;
}
.chart--box {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.inline-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.inline-form > * {
  flex: 0 0 auto;
  width: auto !important;
}

nav .brand-logo {
  display: flex;
}

nav .brand-logo img {
  padding: 5px;
  max-height: 64px;
}

.customer__link-facebook {
  margin-right: 10px;
}

@media only screen and (max-width: 1023px) {
  .table-responsive {
    width: 100%;
    overflow-x: scroll;
  }
  table thead th,
  table tbody td {
    min-width: 100px;
    white-space: nowrap;
  }
  table thead th {
    top: unset;
  }
  .order-summary {
    overflow-x: scroll;
    white-space: nowrap;
  }
  .order-summary__item {
    display: flex;
  }
  .order-summary__left,
  .order-summary__right {
    padding: 0 10px;
  }
  nav .brand-logo img {
    max-height: 56px;
  }
  .btn-fixed {
    top: 0;
  }
  .modal {
    width: 95%;
  }
}
@media only screen and (max-width: 767px) {
}
@media only screen and (max-width: 400px) {
}
